
.details-header {
    padding-top: 24px;
}


.second-row {
    align-items: baseline !important;
    display: flex !important;
    flex-wrap: wrap !important;
    .prev-scores {
        color: $clr3 !important;
        line-height: 20px;
        font-size: 14px;
        margin-top: 8px !important;
    }
    .seperator {
        color: $clr3 !important;
        font-weight: 400 !important;
        margin: 0px 8px !important;
    }
    .location {
        color: $clr3 !important;
        text-decoration: underline;
        line-height: 20px;
        font-size: 14px;
        margin-top: 8px !important;
        align-items: center;
        display: inline-flex;
    }
}

.details-main {
    border-bottom: 1px solid $clr4;

    .content-header {
        padding-bottom: 8px;
    }

    .content-secondary-header {
        border-bottom: 1px solid $clr4;
        padding-bottom: 24px;
    }

    .content-desc {
        border-bottom: 1px solid $clr4;
        line-height: 24px;
        word-break: break-word;
        padding-top: 32px;
        padding-bottom: 32px;
    }

    h3.amenities {
        padding-top: 48px;
        padding-bottom: 24px;
    }


}

// THIS is where the magic happens:

.details-main {
    padding-top: 48px;
    display: flex !important;
    align-items: stretch !important;
    justify-content: flex-start !important;
    flex-wrap: wrap !important;
    width: 100% !important;
}

.booking-column {
    position: relative !important;
    width: 33.3333% !important;
    margin-left: 8.33333% !important;
    margin-right: 0% !important;

    .booking-sticky {
        position: -webkit-sticky !important;
        position: sticky !important;
        top: 80px !important;
        z-index: 1 !important;
        // padding-right: 1px !important;
        // padding-bottom: 48px;
        border:1px solid $clr4;
        border-radius: 12px;
        margin-bottom: 48px;
        padding:24px;


        //ori design
        p{
           
            font-size: 14px;
            font-weight: 400; 
        }
        span.price{
            font-size: 16px;
            font-weight: 600;
        }
        button{
            width: 100%;
            padding: 15px;
            margin-top: 10px;
            font-size: 1rem;
            font-weight: 400;
            color:white;
            background-color: $clr1;
            border: none;
            border-radius: 8px;
            cursor: pointer;
        }

        input{
            border:transparent;
            font-size: 10px;
            font-weight: 600;
            font-family: Circular;
            color: $clr3;
          
            cursor: pointer;

            
        }
        .el-input--prefix .el-input__inner{
            padding: 25px 0px 25px 20px;
            text-align: left;
            border: transparent;
            background-color: transparent;
            font-size: 12px;
            font-weight: 600;
            font-family: Circular;
        }
        .el-input__icon.el-icon-date{
          display: none;
        }
        .date-picker-container{
            border: 1px solid $clr3;
            border-radius: 8px 8px 0px 0px;

        }

    }
    ///
    .guest-number-container{
     position: relative;
        button{
            background-color: transparent;
            color: $clr3;
            margin: 0px;
            padding: 16.5px 20px;
            border: 1px solid $clr3;
            border-top: transparent;
            border-radius: 0px 0px 8px 8px;
            font-size: 12px;
            font-family: Circular;
            font-weight: 600;
            text-align: left;
            outline: none;

            // &:hover{
            // border: 1px solid black; 
            // }
        }
    }
    //////
    .guests-inputs-container{
        position: absolute ;
        z-index: 11;
        top:55px;
        left: 0;
        right: 0;
        padding: 8px 24px;
   
        border: 1px solid $clr5;
        border-radius: 8px;
        background-color:white;
        &:hover{
        border: 1px solid black; 
        }
       .input-div{
          padding:8px 0px 8px 0px;
          font-size: 12px;
          p{
            font-size: 12px;
        }
          &:first-of-type{
          border-bottom: 1px solid $clr4;
          }
   
          input{
              border: none;
             
          }
           
          .el-input-number{
           width: 120px;

          }
   
          .el-input-number__increase{
              font-size: 10px;
              border:1px solid $clr4;
              border-radius: 100%;
              color:$clr4;
              background-color: white;
   
              &:hover{
              border:1px solid black;
              color:black;
              }
       }
          .el-input-number__decrease{
           font-size: 10px;
           border:1px solid $clr4;
           border-radius: 100%;
           color:$clr4;
           background-color: white;
         
           &:hover{
           border:1px solid black;
           color:black;
           }
       }
    }
    }
        
    }


.content-column {
    position: relative !important;
    width: 58.3333% !important;
    margin-left: 0% !important;
    margin-right: 0% !important;

}

h3.house-reviews {
    padding-top: 48px;
    padding-bottom: 24px;
}
