

.details-header {
    padding-top: 24px;
}

.details-main {
    color: $clr2;
    font-family: $font-stack;
    font-weight: 400 !important;
    font-size: 16px !important;
    line-height: 20px !important;

    .content-header {
        color: $clr2;
        font-family: $font-stack;
        font-weight: 600 !important;
        font-size: 22px !important;
        line-height: 26px !important;
        padding-bottom: 8px;
    }
    .content-secondary-header {
        font-weight: 400 !important;
        font-size: 16px !important;
        line-height: 20px !important;
        padding-bottom: 8px;
        padding-bottom: 24px;
        border-bottom: 1px solid $clr4
    }

    .content-desc {
        color: $clr2;
        font-family: $font-stack-alt;
        font-weight: 400 !important;
        font-size: 16px !important;
        line-height: 24px !important;
        word-break: break-word !important;
        padding-top: 32px;
        padding-bottom: 32px;
        border-bottom: 1px solid $clr4
    }
}
.second-row {
    -webkit-box-align: baseline !important;
    align-items: baseline !important;
    display: flex !important;
    flex-wrap: wrap !important;
    .prev-scores {
        color: $clr3 !important;
        line-height: 20px;
        font-size: 14px;
        margin-top: 8px !important;
    }
    .seperator {
        color: $clr3 !important;
        font-weight: 400 !important;
        margin: 0px 8px !important;
    }
    .location {
        color: $clr3 !important;
        text-decoration: underline;
        line-height: 20px;
        font-size: 14px;
        margin-top: 8px !important;
        line-height: 20px !important;
        align-items: center;
        display: inline-flex;
    }
}
.house-name {
    font-size: rem(26px);
}
p.description {
    color: $clr2;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
        Helvetica Neue, sans-serif !important;
    font-weight: 400 !important;
    font-size: rem(16px) !important;
    line-height: 24px !important;
    word-break: break-word !important;
}

.details-main {
    padding-top: 48px;
    -webkit-box-lines: multiple !important;
    -webkit-box-pack: start !important;
    -ms-flex-pack: start !important;
    -webkit-box-align: stretch !important;
    -ms-flex-align: stretch !important;
    display: -webkit-box !important;
    display: -moz-box !important;
    display: -ms-flexbox !important;
    display: -webkit-flex !important;
    display: flex !important;
    -webkit-align-items: stretch !important;
    align-items: stretch !important;
    -webkit-justify-content: flex-start !important;
    justify-content: flex-start !important;
    -webkit-flex-wrap: wrap !important;
    -ms-flex-wrap: wrap !important;
    flex-wrap: wrap !important;
    width: 100% !important;
}

.booking-column {
    position: relative !important;
    width: 33.3333% !important;
    margin-left: 8.33333% !important;
    margin-right: 0% !important;

    .booking-sticky {
        position: -webkit-sticky !important;
        position: sticky !important;
        top: 80px !important;
        z-index: 1 !important;
        padding-right: 1px !important;
    }
}

.content-column {
    position: relative !important;
    width: 58.3333% !important;
    margin-left: 0% !important;
    margin-right: 0% !important;
}
