
.details-header {
    padding-top: 24px;
}

.second-row {
    align-items: baseline !important;
    display: flex !important;
    flex-wrap: wrap !important;
    .prev-scores {
        color: $clr3 !important;
        line-height: 20px;
        font-size: 14px;
        margin-top: 8px !important;
    }
    .seperator {
        color: $clr3 !important;
        font-weight: 400 !important;
        margin: 0px 8px !important;
    }
    .location {
        color: $clr3 !important;
        text-decoration: underline;
        line-height: 20px;
        font-size: 14px;
        margin-top: 8px !important;
        align-items: center;
        display: inline-flex;
    }
}

.details-main {
    border-bottom: 1px solid $clr4;

    .content-header {
        padding-bottom: 8px;
    }

    .content-secondary-header {
        border-bottom: 1px solid $clr4;
        padding-bottom: 24px;
    }

    .content-desc {
        border-bottom: 1px solid $clr4;
        line-height: 24px;
        word-break: break-word;
        padding-top: 32px;
        padding-bottom: 32px;
    }

    h3.amenities {
        padding-top: 48px;
        padding-bottom: 24px;
    }

    section:last-child {
        padding-bottom: 48px;
    }
}

// THIS is where the magic happens:

.details-main {
    padding-top: 48px;
    display: flex !important;
    align-items: stretch !important;
    justify-content: flex-start !important;
    flex-wrap: wrap !important;
    width: 100% !important;
}

.booking-column {
    position: relative !important;
    width: 33.3333% !important;
    margin-left: 8.33333% !important;
    margin-right: 0% !important;

    .booking-sticky {
        position: -webkit-sticky !important;
        position: sticky !important;
        top: 80px !important;
        z-index: 1 !important;
        padding-right: 1px !important;
        padding-bottom: 48px;
    }
}

.content-column {
    position: relative !important;
    width: 58.3333% !important;
    margin-left: 0% !important;
    margin-right: 0% !important;

}

h3.house-reviews {
    padding-top: 48px;
    padding-bottom: 24px;
}
