.home-page-popular-dest{

padding-top: 10px 0px;

    .img-container {
        section{
            width: 100%;
            border-radius: 15px;
          cursor: pointer;
        }
    section:not(:first-child){
          margin-left: 10px;
    }
        
    }
}