.home-page-popular-dest {
    padding-top: 10px;

    .list-3 {
        section {
            // width: inherit;
            border-radius: 15px;
            cursor: pointer;
        }
        section:not(:first-child) {
            margin-left: 15px;
            @include for-narrow-layout {
                // width: inherit;
                margin-left: 0px;
            }
        }
    }
}
