.home-page-promotion {
    .list-3 {
        div {
            width: 100%;
            margin-top: 40px;
            padding: 20px 14px;
            &:not(:first-child) {
                margin-left: 15px;
            }
            h2 {
                display: inline-flex;
                flex-flow: row-reverse;
                font-size: 22px;
                margin-bottom: 8px;
                margin-top: 16px;
                svg {
                    height: 32px;
                    margin-right: 12px;
                }
            }
            p {
                font-size: 1rem;
                font-weight: 100;
            }
            @include for-narrow-layout {
                margin-top: 16px;
                padding: 0px 8px;
                &:not(:first-child) {
                    margin-left: 0px;
                }
                h2 {
                    margin-bottom: 0px;
                    margin-top: 8px;
                }
                p {
                    padding-left: 4px;
                    line-height: 22px;
                }
            }
            }
    }
}
