.house-list{
    margin:0 auto;
    .house-list-ul{
        display: grid;
        grid-template-columns: repeat(3, minmax(225px,1fr));
        //         grid-template-columns: repeat(auto-fill, minmax(225px,1fr));
        grid-gap:15px;
        padding-inline-start: 0px; // fix for default setting

        @include for-normal-layout {
            // max-width: $max-width-normal;
            grid-template-columns: repeat(2, minmax(225px,1fr));
        }
        @include for-narrow-layout {
            max-width: 100%;
            grid-template-columns: repeat(1, minmax(225px,1fr));
        }
    }
 
    li{
    margin: 0 auto;
    // margin-bottom: 15px;
    }
}