// .scores {
//     width: 70%;
//     margin: 0 auto;
// }

.score-list>* {
    width: 50%;
}

.left>* {
    line-height: normal;
}

.right>* {
    line-height: normal;
}

h3 {
    text-align: start;
}