.score-list {
    display: grid;
    grid-template-columns: repeat(2, minmax(225px,1fr));
    grid-gap:10%;
   
    section{
        margin:0px 0px 16px 0px;
    }

    p{
    line-height: 20px;
    margin: 0px;
    }

}


h2 {
    text-align: start;
    padding-bottom: 32px;
}


 .el-progress {
 width: 180px;
 }
