.house-filter{
    // position: absolute;
    // left: 200px;
    // top: 200px;
    // z-index: 1000;

    background-color: rgb(255, 255, 255);
    width: 510px;
    height: 452px;
    padding: 32px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 10px;

     ::placeholder{
    color: $clr3;
    font-weight: 600;
    }

    p{
    font-size: 1rem;
    line-height: 1;
    text-align: left;
    color: $clr3;
    }

    p:first-child{
    font-size: 2rem;
    color: $clr2;
    font-weight: 600;
    }

    .destination-picker > *{
    width: 100%;
    margin-bottom: 10px;
 
    }

    .date-picker-container  > * {
    width: 50%;
    margin-bottom: 10px;
  
    }

   .guest-number-container {
    > *{
        width: 50%;
        margin-bottom: 10px;
    }   
   }

   .search-btn{
    width: 100%;
    color:white;
    background-color: $clr1;
    padding: 15px 25px;
   }
}