.house-filter{

    background-color: rgb(255, 255, 255);
    // width: 510px;   //only if additional p underneath
    max-width: 420px;
    padding: 32px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 12px;

    
    ::placeholder{
    color: $clr3;
    }
 
    h1{
    margin-top: 0px;
    margin-bottom: 22px;
    }

    p{
    margin:0px 0px 20px 0px;
    font-size: 1rem;
    line-height: 1;
    text-align: left; 
    color: $clr3;
    }

    p:first-child{
    margin:0px 0px 8px 0px;
    font-size: 2rem;
    color: $clr2;
    }

    .destination-picker > *{
    width: 100%;
    margin-bottom: 10px;
    }

    .date-picker-container  {

        > * {
        flex-grow: 1;
        margin-bottom: 10px;

            &:nth-child(even){
            margin-left: 8px;
            }   
        }
    }

   .guest-number-container {
        > * {
            flex-grow: 1;
            margin-bottom: 10px;
            &:nth-child(even){
            margin-left: 8px;
            }   
        }
    }

   .search-btn{
    width: 100%;
    padding: 18px;
    font-size: 1rem;
    color:white;
    background-color: $clr1;
    border-radius: 10px;


    svg{
    display: inline-block;
    margin-right: 5px;
    }
   }

   input{
    padding:27px 10px;
    border-radius: 10px;
}

}

//////////////////////

.house-filter.isFlat {
    background-color: transparent;
    height: 70px; 
    padding: 0px;
    max-width: 100%;
    margin: 50px 0px;

    input{
    border: transparent;
    }

    .destination-picker{

        input{
        padding-left: 40px;

        }

            .el-input__inner{
            border: transparent;
            border-radius: 100px ;
            
            }
    }


    span.el-input__prefix, span.el-input__suffix {
        display:none;
    }

    & * {
        height: 70px;
        width: 100%;
        background-color:none;
        cursor: pointer;
        
    }

    p, h1{
    display: none;    
    }

    form {
    display: flex;
    height: 100%;
    background-color: transparent;
    border: 1px solid $clr4;
    border-radius: 500px;
    max-width: 850px;
    margin: 0 auto;
    
        .el-input__inner{
        height: 94%;
        align-self: center;

            &:hover{
            border: 1px solid transparent;
            border-radius: 100px;
            background-color: rgb(241, 241, 241);

            }
       }
    }

   .date-picker-container * {
    margin: 0px;

        .el-icon-date:before {
        content: "";
        }
   }

   .guest-number-container * {
    margin: 0px;

        .el-icon-arrow-up:before{
        content: "";
        }

   }

    .search-btn{
    margin: 10px;
    width: 46px;
    height: 46px;
    border-radius: 100px;
    padding: 15px;

        span.search{
        visibility:hidden;
        }
    }

    .el-input--suffix .el-input__inner , .el-input--prefix .el-input__inner{
        padding:0px 0px 0px 5px;
        width: max-content;
        text-align: center;

    }
}


.house-filter.isFlat.compact{
    margin:0px auto;
    height: max-content;

    .filter-modal{
        
        padding: 20px 20px;
    }
    form{

        height: max-content;
        width: max-content  ;
        background-color: white;
        flex-direction: column;
        border-radius: 12px;
        padding: 5px;
        margin: 10px 0px;

        & * {
            flex-direction: column;
        }
        div , section{
            height: max-content;
            width: max-content;
            padding: 0px;
            margin: 0px;
        }
      .el-input__inner {
            width: 200px;
            height: 40px;
            padding: 5px 10px 5px 10px;
            margin: 5px;
            border: 1px solid $clr4;
            border-radius: 10px;
            text-align: left;
        }
    }
}