.scores{

    span{
        color:$clr1
    }


.score-list {
    display: grid;
    grid-template-columns: repeat(2, minmax(225px,1fr));
    
    .left, .right{
        padding: 0px 8px;
        margin-right: 8.333%;
    }
    section{
        margin:0px 0px 16px 0px;
    }

    p{
    line-height: 20px;
    margin: 0px;
    }

    .el-progress {
        width: 180px;
    }
       
}


}