.house-preview{
    width: 100% !important;
    height: 100% !important;
    padding-top: 8px !important;
    padding-bottom: 12px !important;

    .prev-scores {
        margin-top: 10px;
        margin-bottom: 6px;
    }

    .prev-scores-span {
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    -webkit-align-items: center !important;
    align-items: center !important;
    display: -webkit-box !important;
    display: -moz-box !important;
    display: -ms-flexbox !important;
    display: -webkit-flex !important;
    display: flex !important;
    font-size: 14px !important;
    line-height: 18px !important;
    }

    .prev-star {
        color: $clr1 !important;
    }

    p{
      margin: 0px;
      text-align: left;
      text-overflow: ellipsis; 
      overflow: hidden; 
      white-space: nowrap;
      }

      //Default Styling Of Element-Ui Card
            .time {
                font-size: 13px;
                color: #999;
                }
            
            .bottom {
              margin-top: 13px;
              line-height: 12px;
            }
            
            .button {
              padding: 0;
              float: right;
            }
            
            .image {
              width: 100%;
              display: block;
            }
            
            .clearfix:before,
            .clearfix:after {
              display: table;
              content: "";
            }
            
            .clearfix:after {
              clear: both;
            }
      
}