/* HEADER */

.main-header {
    height: 80px;
    border-bottom: .5px solid $clr4;
    background-color: white;
    top: 0;
    .container {
        height: 100%;
    }
    .house-filter {
        top: 30px;
    }
    div.logo {
        height: 80px;
        width: 133px;
        svg {
            margin-right: 10px;
        }
    }
    // .logo-word {
    //     font-size: 1.875rem;
    //     color: rgb(255, 56, 92);
    //     letter-spacing: 1.5px;
    //     font-weight: 3;
    //     line-height: 1.1;
    // }
    .menu-open .main-nav {
        transform: translateX(0);
        box-shadow: -6px 0px 14px rgba(0, 0, 0, 0.2); 
    }
    .menu-open .screen {
        visibility: visible;
        opacity: 1;
    }
    .main-nav {
        width: 50%
    }
    .btn-menu {
        -webkit-box-align: center;
        -ms-flex-align: center;
        background: transparent;
        border: 1px solid #DDDDDD;
        color: #222222;
        cursor: pointer;
        font-size: inherit;
        font-weight: inherit;
        line-height: inherit;
        margin: 0px;
        outline: none;
        overflow: visible;
        padding: 5px 5px 5px 12px;
        text-align: inherit;
        user-select: auto;
        align-items: center;
        background-color: #FFFFFF;
        border-radius: 21px;
        position: relative;
        vertical-align: middle;
        transition: box-shadow 0.2s ease;
        z-index: 1;
    }
    .btn-container {
        display: inline;
        position: relative;
    }
    .profile-picture {
        background-color: currentcolor;
        display: block;
        width: 40%;
        border-radius: 50%;
    }
    .logo-symbol {
        color: rgb(255, 56, 92);
        display: inline;
    }
    li a {
        color: #222222;
    }
    .notifications {
        background-color: var(--header-brand-color, #FF385C) !important;
        background-color: rgb(255, 56, 92) !important;
        box-shadow: rgb(255, 255, 255) 0px 0px 0px 1.5px !important;
        position: absolute !important;
        z-index: 1 !important;
        color: rgb(255, 255, 255) !important;
        font-size: 10px !important;
        font-weight: 800 !important;
        height: 16px !important;
        left: 100% !important;
        line-height: 16px !important;
        margin-left: -14px !important;
        min-width: 16px !important;
        text-align: center !important;
        top: -2px !important;
        border-radius: 9px !important;
        padding: 0px 5px !important;
    }
    .menu-modal {
        width: 300px;
        height: 215px;
        background-color: white;
        border: 1px solid rgba(230, 227, 227, 0.5);
        border-radius: 20px;
        position: absolute;
        z-index: 3000;
        top: 52px;
        right: -104px;
    }
    .login,
    .logout {
        font: inherit;
        margin-top: 16px;
        line-height: normal;
        margin-left: 10px;
        width: 98%;
        margin-left: 2px;
        height: 50px;
        &:hover {
            cursor: pointer;
            background-color: rgba(228, 238, 237, 0.568);
            ;
        }
    }
    .show-filter-btn {
        width: 133px;
        height: 48px;
        background-color: white;
        border: 1px solid $clr4;
        border-radius: 300px;
        padding: 0px 10px 0px 18px;
        outline: none;
        cursor: pointer;

         &:hover{
         border: 1px solid transparent;
         box-shadow: 0px 1px 3px 2px #c4c4c486;
        }
      
            .mangifying{
                margin: 0px;
                width: 32px;
                height: 32px;
                border-radius: 100px;
                padding: 9px;
                background-color: $clr1;
                color: white;
                
                p{
                line-height: 20px;
                font-size: 1rem;
                margin: 0px;
                padding: 0px;
                font-family: Circular;
            }
        }
    }
}