.review-list{

    ul{
        padding: 0px;
        display: grid;
        grid-template-columns: repeat(2, minmax(225px,1fr));
        grid-gap:10%;
        padding-inline-start: 0px; // fix for default setting
        
    }
}