.review-preview{
     align-items: center;
     padding: 0px 8px;
     margin-right: 8.333%;
     
    .reviewer-details{
    height:  56px;
    margin-bottom: 12px;

    div{
        justify-content: center;
        margin-left: 16px;
    }
    p{
        font-size: 16px;
        margin: 0px;

        &.review-time{
            font-size: 14px;
        }
    }

    }
    img{
        width: 56px;
        height: 56px;
        border-radius: 50%;
        object-fit: cover;
    }

}