.container {
    padding: 0px 80px;
    max-width: $max-width-wide;
    margin-left: auto;
    margin-right: auto;
    // @include for-wide-layout {
    //     max-width: $max-width-wide;
    // }
    @include for-normal-layout {
        max-width: $max-width-normal;
        padding: 0px 40px;
        margin-left: auto;
        margin-right: auto;
    }
    @include for-narrow-layout {
        max-width: 100%;
        padding: 0px 20px;
        margin-left: auto;
        margin-right: auto;
    }
}

.screen {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2999;

    .login-modal {
        margin: 0 auto;
        width: 300px;
        height: 215px;
        background-color: white;
        border: 1px solid rgba(230, 227, 227, 0.5);
        border-radius: 20px;
        position: absolute;
        z-index: 3001;
        top: 52px;
    }

    .booking-modal {
        min-width: 330px;
        width: max-content;
        height: max-content;
        position: absolute;
        z-index: 3000;
        background-color: white;
        border: 1px solid $clr4;
        border-radius: 12px;
        padding: 16px 48px;

        .price-rating{
            margin-bottom: 5px;
            .content-header{
            margin:10px 5px 6px 0px
            }  
        }


        .booking-details{
            // border-bottom: 1px solid $clr4;

            span.price{
                font-size: 16px;
                font-weight: 600;
            }

            .totalCalc{
            padding: 10px 0px;
            border-top: 1px solid $clr4;
            span{
                font-weight:600 ;
            }
         }
        }
        .book-it-btn{
            margin:5px auto;
            width: 100%;
            padding: 18px;
            font-family: Circular;
            font-size: 1rem;
            color:white;
            background-color: $clr1;
            border: 1px solid $clr4;
            border-radius: 10px;
            outline: none;
            &:hover{
            border: 1px solid transparent;
            box-shadow: 0px 1px 3px 4px #c4c4c486;    
            }
        }

    }
}

.close-modal {
    position: absolute;
    top: 15px;
    right: 25px;
    &:hover {
        cursor: pointer;
    }
}